.post{
    display: flex;
    align-items: flex-start;
    border: 1px solid var(--twitter-background);
    padding-bottom: 10px;
}
.post-avatar{
    padding: 20px;
}

.post-body > img{
    border-radius: 20px;
}
.post-header-text{
    font-size: 15px;
    margin-bottom: 15px;
}
.post-footer{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.post-badge{
    color: var(--twitter-color);
    font-size: 14px !important;
}
.post-header-span{
    font-weight: 600;
    font-size: 12px;
    color: grey;
}