
.sidebar{
    border-right: 1px solid var(--twitter-background);
    padding-left: 16px;
    padding-right: 16px;
    flex: 0.3;
    margin-top: 20px;
    min-width: 250px;
}
.sidebar-twitter-icon{
    color: var(--twitter-color);
    font-size: 30px !important;
    margin-left: 20px;
    margin-bottom: 20px;
}

.sidebar-btn-tweet{
    background-color: var(--twitter-color) !important;
    border: none !important;
    color: white !important;
    font-weight: 900 !important;
    text-transform: inherit !important; 
    border-radius: 30px !important;
    height: 40px !important;
    width: 80px !important;
    margin-top: 20px !important;
    margin-left: auto !important;
}